__pycache__/*
static/papers
static/results
.env
questions.txt
scripts/*.sh

venv
__pycache__
*playground*
pages/__pycache__/*.pyc
static/**/**/**/paper_text.txt
static/** 
custom.bib

.vscode
static/
results/
static/
wandb/
evals/resource/test/
*.csv
gemma-3-27b-it
gemma-3-12b-it
unsloth_compiled_cache/
slurm/
gemma-3-*
evals/resource/valid/
resource/
dcgm-*
Qwen2.5-*
Qwen3-*
NuExtract-*
unsloth*
benchmark_results/
dcgm/
.streamlit
qwen2.5-0.5b-instruct-sft/
output/*
lora_tuning_adapters*
Qwen2.5-0.5B-Instruct
Falcon3-3B-Instruct/
Llama3-2-3B-Instruct/
r_16_alpha_32/*
r_32_alpha_32/*
logs/
