__pycache__/*
static/papers
static/results
.env
questions.txt
scripts/*.sh

venv
__pycache__
*playground*
pages/__pycache__/*.pyc
static/**/**/**/paper_text.txt
static/** 
custom.bib

.vscode
static/
results/
static/
wandb/
evals/resource/test/
*.csv
gemma-3-27b-it
gemma-3-12b-it
unsloth_compiled_cache/
slurm/
gemma-3-*
evals/resource/valid/
resource/
dcgm-*
Qwen2.5-*
Qwen3-*